{% extends "base.html" %}
{%   load   staticfiles   %}

{% block elcss %}
{% endblock %}
{% block titulo %} Control {% endblock %}
{% block content %}
<br /><br />
<div class="row">
	<div class="col-md-3 col-lg-3">
		{% for instalacion in las_instalaciones %}
			{% if instalacion.estado.codigo  == 1 %}
            			<a href="#" class="btn btn-success btn-lg btn-block">{{ instalacion.nombre_sensor }}</a>
       			{% endif %}
			{% if instalacion.estado.codigo  == 2 %}
            			<a href="#" class="btn btn-secondary btn-lg btn-block">{{ instalacion.nombre_sensor }}</a>
            		{% endif %}
			{% if instalacion.estado.codigo  == 0 %}
            			<a href="#" class="btn btn-danger btn-lg btn-block">{{ instalacion.nombre_sensor }}</a>
            		{% endif %}
     
     	   	{% endfor %}
    </div>
    <div class="col-md-9 col-lg-9" >
    	<h1> Listado de estado </h1>
    	<br />
    	{% if los_sensores %}
             <div class="table-responsive">
                <table class="table table-striped">
                  <th>Nombre</th>
                  <th>Planta</th>
                  <th>Temperatura real</th>
                  {% for sensor in los_sensores %}
                    <tr>
                        <td>{{ sensor.nombre_sensor }}</td>
                        <td>{{ sensor.planta }}</td>
                        <td>{{ sensor.ultima_temperatura }}</td>    
                    </tr>
                  {% endfor %}
                </table>
            </div>
        {% else %}
            <p class="text-warning">Sin sensor</p>
        {% endif %}
    </div>
</div>
{% endblock %}
